<h1>Editing activity</h1>

<% form_for(@activity) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :frequency %><br />
    <%= f.select :frequency, Activity.frequencies %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
