<h1>Activities</h1>
<table>
  <tr>
    <th>Description</th>
    <th>Grains</th>
    <th>Frequency:</th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%=h activity.description %></td>
    <td><%=h activity.grains %> times </td>
    <td><%=h activity.frequency %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
