<h1>New activity</h1>

<% form_for(@activity) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :grains %><br />
    <%= f.select(:grains, Activity.grain_values) %>
  </p>
  <p>
    <%= f.label :frequency %><br />
    <%= f.select(:frequency, Activity.frequencies) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
