<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Activities: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <style>
    p {width: 400px;}
  </style>
</head>
<body>
<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>
<% if logged_in? %>
<%= link_to "Home", activities_url  %> |
<%= link_to 'New activity', new_activity_path %> |
<%= link_to 'Achievements', achievements_path %> <br />
<%= link_to 'To Do', todo_path %> |
<%= link_to "Log Out (#{current_user.login})", logout_path %>
<% end %>

<%= yield %>
<p>Maintain a list of activities to do regularly.  For example, maybe
you eat breakfast daily, work on your Rails app weekly and donate to
charity yearly.  You could also keep a list of friends to keep in
touch with.</p>

<p>Once you've made that list -- the list of goals -- you'll be able
to mark them off as you achieve them.  They'll re-appear on the todo
list after the frequency elapses.  For example, suppose you say you'll
work on your rails app weekly.  When you mark it off on a Tuesday,
it'll disappear and then show up again on your todo list the following
Tuesday.</p>
</body>
</html>
