<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Activities: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>


<% if logged_in? %>
<p>Welcome, <%= current_user.login %></p>

<%= link_to "Home", activities_url  %> |
<%= link_to 'New activity', new_activity_path %> |
<%= link_to 'Achievements', achievements_path %> |
<%= link_to 'Today', todo_path("Daily") %> |
<%= link_to 'Weekly', todo_path("Weekly") %> |
<%= link_to 'Monthly', todo_path("Monthly") %> |
<%= link_to 'Yearly', todo_path("Yearly") %> |
<%= link_to "Log Out", logout_path %>
<% end %>

</body>
</html>
